@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/*SÓ OS PADRÕES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #1A1A1A;
    background-image: url('../image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
    color: #F3F3F3;
}

.signUp {
    background-color: #F3F3F3;
    border-radius: 12px;
    color: #1A1A1A;
    padding: 8px 32px;
    cursor: pointer;
    text-align: center;
}

.signUp:hover {
    background-color: #9B9B9B;
    color: #1A1A1A;
    border: none;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 76.5px;
    text-align: center;
    color: #F3F3F3;
    max-width: 462px;
}

p {
    font-size: 20px;
    font-weight: 200;
    line-height: 27.3px;
    text-align: center;
    color: #9B9B9B;
}

a {
    color: #F3F3F3;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

a:hover {
    color: #9B9B9B;
}

.menu-mobile {
    display: none;
}



/*FINAL PADRÕES*/

.menu-principal {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo*/
.menu-principal .logo {
    text-decoration: none;
    font-size: 28px;
}

/*Menu acesso paginas*/
.menu-principal .menu-navegacao {
    display: flex;
    gap: 32px;
    list-style: none;

}

.menu-principal .menu-navegacao li a {
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    color: #F3F3F3;
    position: relative;
}

.menu-principal .menu-navegacao li a:hover {
    color: #9B9B9B;
}

.menu-principal .menu-navegacao li a:after {

    content: "";
    bottom: -8px;
    display: block;
    height: 1.5px;
    position: absolute;
    background-color: #9B9B9B;
    width: 0;
    transition: width 0.5s ease 0s;
}

.menu-principal .menu-navegacao li a:hover:after {
    width: 100%;
}

/*Criar conta e Logar*/

.menu-principal .menu-acessos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    list-style: none;
}

.menu-principal .menu-acessos a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #F3F3F3;
    width: 140px;
    height: 41px;
}

.menu-principal .menu-acessos #logIn {
    border: 1px solid #F3F3F3;
    border-radius: 12px;
}

.menu-principal .menu-acessos #signUp {
    background-color: #F3F3F3;
    border-radius: 12px;
    color: #1A1A1A;
}

.menu-principal .menu-acessos #signUp:hover {
    background-color: #9B9B9B;
    color: #1A1A1A;
    border: none;
}

.menu-principal .menu-acessos #logIn:hover {
    background-color: #9B9B9B;
    border: 1px solid #9B9B9B;
    color: #1A1A1A;
}

.colapsed-menu {
    display: none;
}

/******************************/

/*Findplace pesquisas*/

.findplace-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    gap: 10%;
}


/*lado esquerdo da view*/
.findplace-pesquisa .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-bottom: 20px;
}

.findplace-pesquisa .left-side main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.findplace-pesquisa .left-side main .title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.findplace-pesquisa .left-side h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 76.5px;
    text-align: center;
    color: #F3F3F3;
    max-width: 452px;
}


.findplace-pesquisa .left-side p {
    font-size: 20px;
    font-weight: 200;
    line-height: 27.3px;
    text-align: center;
    color: #9B9B9B;
    max-width: 440px;
}

.findplace-pesquisa .left-side .search-place {
    background-color: #393939;
    width: 100%;
    border-radius: 42px;
    padding: 10px 12px 10px 24px;
}

.findplace-pesquisa .left-side .search-place:hover {
    background-color: #4b4b4b;
    box-shadow: #1A1A1A 0px 0px 10px;
}

.findplace-pesquisa .left-side .search-place form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.findplace-pesquisa .left-side .search-place form #txtSearch {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}

.findplace-pesquisa .left-side .search-place form #txtSearch::placeholder {
    color: #F3F3F3;
}

.findplace-pesquisa .left-side .search-place form button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findplace-pesquisa .left-side .buttons-get-it-on {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    width: 100%;
}


.findplace-pesquisa .left-side .buttons-get-it-on #btn-get-it-on-google-play {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 158px;
}

.findplace-pesquisa .left-side .buttons-get-it-on #btn-get-it-on-google-play img {
    max-width: 100%;
    max-height: 40px;

}

.findplace-pesquisa .left-side .buttons-get-it-on #btn-get-it-on-app-store {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 158px;
}

/*lado direito da view*/

.findplace-pesquisa .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*optimized search*/

.search-optimized-with {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 59px;
}

.search-optimized-with div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos_companys_optimized_search {
    display: flex;
    gap: 60px;
}

.search-optimized-with p {
    color: #4b4b4b;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

/*Segunda view - sobre o app*/

.about-app {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-app main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.about-app .mockup-about-app {
    margin-top: 80px;
    width: 80%;
}


/*coments section*/

.coments {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-coments {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.title-coments h1 {
    max-width: 100%;
    color: #1A1A1A;
}


/*Carousel*/

.carrousel-part {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carrousel-slide {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(512px*6);
    gap: 200px;
}

.slide-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 312px;
    max-height: 354px;
    background-color: #fff;
    margin-top: 58px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.5);
    padding: 21px 25px 22px 0px;
    margin-bottom: 90px;
}

/*animação transição infinita*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-512px*3));
    }
}


.aside-profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -40px;

}

.aside-profile-picture img {
    max-width: 80px;
    max-height: 80px;
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.5);
    border-radius: 80px;
}

.slide-card main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title-card p {
    font-size: 20px;
    color: #1A1A1A;
    font-weight: 600;
}

.content-card p {
    color: #1A1A1A;
    text-align: left;
    font-weight: 300;
    line-height: 27px;
}

.name-local-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-local-links p {
    color: #9B9B9B;
    font-size: 20px;
    font-weight: 600;
}

.name-local-links #link-store {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}


.name-local-links #link-store p {
    font-size: 20px;
    font-weight: 200;
}


.like-and-link {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.like-and-link a:hover {
    filter: invert(100%) sepia(0%) saturate(1735%) hue-rotate(191deg) brightness(37%) contrast(94%);
}


/*testado e aprovado*/
.tested-approved {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-bottom: 30px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    background-color: #1A1A1A;
}

footer .logo {
    font-size: 32px;
}

.contents-footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12%;
    margin-top: 71px;
}

.all-medias-link {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-media a:hover {
    filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(89%)
}

.ref-mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.ref-mobile-app p {
    color: #F3F3F3;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.ref-mobile-app .download-app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.ref-mobile-app .download-app img {
    max-width: 132px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.footer-links a {
    font-weight: 200;
    font-size: 16px;
}

.contents-footer-links-title {
    color: #F3F3F3;
    font-weight: 700;
    font-size: 16px;
}

.rodape {
    align-self: center;
}

.rodape p {
    color: #F3F3F3;
    font-weight: 700;
    font-size: 12px;
}

.rodape p a {
    font-size: 12px;
    font-weight: 700;    
}


/*ajustes medias querys*/


/*estrutura mobile*/
@media (max-width: 900px) {


    /*menu principal*/
    .menu-principal {
        display: none;
    }

    /*menu-mobile*/

    .menu-mobile {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .top-menu {
        padding: 20px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-mobile .logo {
        font-size: 28px;
    }

    .colapsed-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid #F3F3F3;
        border-radius: 8px;
        padding: 12px 10px;
    }

    .colapsed-menu .hamburguer-item-1,
    .colapsed-menu .hamburguer-item-2,
    .colapsed-menu .hamburguer-item-3 {
        background-color: #F3F3F3;
        width: 30px;
        height: 1px;
        border-radius: 10px;

    }

    /*animações hamburguer*/
    @keyframes returnColapsedMenu {
        0% {
            opacity: 0;
            transform: translateY(-45px) rotate(-200deg);
        }

        100% {
            opacity: 1;
            transform: translateY(0) rotate(0deg);
        }
    }

    @keyframes btnCloseMenuEntranceTop {
        0% {
            opacity: 0;
            transform: translateX(45px) rotate(45deg);
        }

        100% {
            opacity: 1;
            transform: translate(0px, -5px) rotate(45deg);
        }
    }

    @keyframes btnCloseMenuEntranceBottom {
        0% {
            opacity: 0;
            transform: translateX(45px) rotate(45deg);
        }

        100% {
            opacity: 1;
            transform: translate(0px, 7px) rotate(-45deg);
        }
    }

    /*Nova navigation só para mobile*/

    .menu-principal-mobile {
        background-color: #F3F3F3;
        flex-direction: column;
        gap: 25px;
        padding: 25px 10%;
        z-index: 1;
        display: none;
        box-shadow: 0px 1px 8px #F3F3F3;
    }

    .menu-principal-mobile li {
        text-decoration: none;
        list-style: none;
    }

    .menu-acessos-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .menu-acessos-mobile a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        width: 140px;
        height: 41px;
    }

    .menu-acessos-mobile #logIn {
        color: #1A1A1A;
        border: 1px solid #1A1A1A;
        border-radius: 12px;
    }

    .menu-acessos-mobile #signUp {
        background-color: #1A1A1A;
        color: #F3F3F3;
        border-radius: 12px;
    }

    .menu-acessos-mobile #signUp:hover {
        background-color: #F3F3F3;
    }

    .menu-acessos-mobile #logIn:active {
        background-color: #1A1A1A;
        color: #F3F3F3;
    }

    .menu-navegacao-mobile {
        display: flex;
        flex-direction: column;
    }

    .menu-navegacao-mobile li {
        display: flex;

    }

    .menu-navegacao-mobile a {
        width: 100%;
        padding: 8px 0;
        text-align: center;
        color: #1A1A1A;
        font-size: 20px;
        font-weight: 300;
    }

    .menu-navegacao-mobile a:active,
    .menu-navegacao-mobile li:active {
        color: #F3F3F3;
        background-color: #1A1A1A;
        border-radius: 12px;
    }

    /*Fim do navigation*/

    /*primeira section*/

    .findplace-pesquisa {
        margin-top: 24px;
        flex-direction: column;
        gap: 20px;
    }

    .left-side {
        justify-content: center;
        max-width: 90%;
    }

    .left-side .title h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .left-side .title p {
        font-size: 16px;
    }

    .right-side {
        width: 100%;
    }

    .right-side img {
        width: 80%;
    }

    .search-place form {
        gap: 5px;
    }

    .search-optimized-with {
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .search-optimized-with div p {
        font-size: 16px;
    }

    .logos_companys_optimized_search {
        flex-direction: row;
        gap: 20px;
    }

    .logos_companys_optimized_search img {
        max-width: 20%;
    }

    /*fim primeira section*/

    /*segunda section*/
    .about-app {
        margin-top: 40px;
        width: 100%;
        gap: 70px;
    }

    .about-app .title-subtitle h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .mockup-about-app {
        width: 100%;
    }

    .mockups-about-app-mobile {
        display: none;
        flex-direction: column;
        width: 90%;
    }

    .mockup-about-app-mobile {
        width: 100%;
    }

    /*terceira section - comentarios*/
    .coments .title-coments {
        margin-top: 40px;
    }

    .coments .title-coments h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .tested-approved {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    .tested-approved p {
        font-size: 16px;
    }

    .img-tested-approved-mobile {
        max-width: 90%
    }

    /*fim da terceira seccao - comentarios*/


    /*footer*/

    .contents-footer {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .footer-links {
        align-items: center;
        justify-content: center;
    }

    .rodape {
        max-width: 90%;
    }

    .rodape p {
        font-size: 10px;
    }

}


@media (min-width:900px) and (max-width: 1279px) {

    /*menu principal*/
    body {
        display: flex;
        flex-direction: column;
    }

    .menu-principal {
        width: 90%;
    }

    .findplace-pesquisa {
        gap: 0;
    }

    .findplace-pesquisa .left-side h1 {
        font-size: 48px;
    }

    .findplace-pesquisa .left-side p {
        align-self: center;
        font-size: 18px;
        max-width: 400px;
    }

    .right-side img {
        max-width: 95%;
    }

    .findplace-pesquisa .left-side .search-place {
        align-self: center;
        width: 90%;
    }

    .search-optimized-with {
        max-width: 90%;
        align-self: center;
    }

    .about-app .mockup-about-app {
        max-width: 100%;
    }


    .contents-footer {
        gap: 10%;
    }
    
}